{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block content %}
  <div class="header pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row">
          
          <div class="col-xl-4 col-md-6">
            <div class="card card-stats">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Total People</h5>
                    <span class="h2 font-weight-bold mb-0">5,000</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                      <i class="ni ni-single-02"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-md-6">
            <div class="card card-stats">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Active Bot Logs</h5>
                    <span class="h2 font-weight-bold mb-0">OK</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-gradient-success text-white rounded-circle shadow">
                      <i class="ni ni-check-bold"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt--6">
    {{ block.super }}
  </div>
{% endblock %}